@use"./variables"as *;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 80%;
}
ul li {
    list-style-type: none;
    
}
a{
    text-decoration: none;
}

// For JS
.odd{
    color: green;
    font-weight: bold;
}

.odd-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

